$basic-form-height:                    8%;
$basic-form-form-height:               30px;
$basic-form-margin:                    10px;
$basic-form-line-height:               56px;
$basic-form-width:                     200px;

$form-height:                          700px;
$form-width:                           500px;

$form-title-height:                    10%;
$form-title-fontsize:                  1.5rem;
$outer-padding:                        40px;
$margin:                               20px;

$font-color:                           black;

$login-background-image:               image-url("login-backimage.jpeg");
$main-background-image:                image-url("main-page-backimage.jpeg");
$basic-registration-backimage:         image-url("basic-registration-backimage.jpeg");
$kitchenorder-function-backimage:      image-url("kitchenorder-function-backimage.jpeg");
$chat-function-back-image:             image-url("chat-function-back-image.jpeg");
$handover-function-backimage:          image-url("handover-function-backimage.jpeg");
$menu-function-backimage:              image-url("menu-function-backimage.jpeg");
$people-management-function-backimage: image-url("people-management-function-backimage.jpeg");
$other-function-backimage:             image-url("other-function-backimage.jpeg");
$regularguest-function-backimage:      image-url("regularguest-function-backimage.jpeg");
$user-information-backimage:           image-url("user-information-backimage.jpeg");
$order-function-backimage:             image-url("order-function-backimage.jpeg");
$people-management-function-backimage: image-url("people-management-function-backimage.jpeg");