$login-background-image:               url("login-backimage.jpeg");
$main-background-image:                url("main-page-backimage.jpeg");
$basic-registration-backimage:         url("basic-registration-backimage.jpeg");
$kitchenorder-function-backimage:      url("kitchenorder-function-backimage.jpeg");
$chat-function-back-image:             url("chat-function-back-image.jpeg");
$handover-function-backimage:          url("handover-function-backimage.jpeg");
$menu-function-backimage:              url("menu-function-backimage.jpeg");
$people-management-function-backimage: url("people-management-function-backimage.jpeg");
$other-function-backimage:             url("other-function-backimage.jpeg");
$regularguest-function-backimage:      url("regularguest-function-backimage.jpeg");
$user-information-backimage:           url("user-information-backimage.jpeg");
$order-function-backimage:             url("order-function-backimage.jpeg");
$people-management-function-backimage: url("people-management-function-backimage.jpeg");