<%= render "shared/header" %>

<div class="container">
<div class="item-index-container-inner">

      <h4 class="title">ドリンク一覧</h4>

    <%= render "shared/basic-content" %>
    </div>
    </div>

    <%= render "shared/footer" %>