<%= render "shared/header" %>

<div class="container">
  <main role="main" class="item-index-container-inner">

    <h4 class="title">ドリンク一覧</h4>

        <%= render "beverages/category-sort" %>

    <%= render "shared/basic-content" %>
  </main>
</div>