<%= render "shared/header" %>
  <div class='main'>
    <div class='main-menu'>
      <h2 class='menu-sentence'>
        ホール　メインメニュー
      </h2>
    <%= link_to '新規登録',  new_hall_management_path, class: "register-new-btn" %>
    <div class=manage-choices>
      <%= link_to '既存管理', hall_managements_path, class: "management-existing-btn" %>
    </div>
</div>

    