$font-color:                         #333;
$white:                              #fff;
$gray:                               gray;

$menu-font-size:                      0.82rem;
$small-font:                          0.8rem;

$dark-blue:                          #28527a;
$light-blue:                         #8ac4d0;
$dark-yellow:                        #f4d160;
$light-yellow:                       #fbeeac;

$form-width:                          80%;
$sm-form-width:                       100%;

$outer-big:                           40px;
$outer:                               15px;