$font-color:                         #333333;

$dark-blue:                          #28527a;
$light-blue:                         #8ac4d0;
$dark-yellow:                        #f4d160;
$light-yellow:                       #fbeeac;

$form-height:                          550px;
$form-width:                           50%;

$outer-big:                            40px;
$outer:                                15px;