$font-color:                         #333333;
$white:                              #fff;
$gray:                               gray;
$background-color:                   #f0efeb;

$dark-blue:                          #28527a;
// $light-blue:                         #327aa7;
$light-blue:                         #8ac4d0;
$dark-yellow:                        #f4d160;
$light-yellow:                       #fbeeac;

$form-height:                          550px;
$form-width:                           50%;

$outer-big:                            40px;
$outer:                                15px;

$menu-font-size:                       0.82rem;