<%= render "shared/header" %>
    
<div class="main-page-backimage">
  <div class="basic-content">

    <%= render "shared/basic-header" %>


    <%= render "shared/basic-content" %>

  </div>
    
  <%= render "shared/footer" %>

</div>
