<%= render "shared/header" %>

<div class="kitchenorder-function-backimage">
  <div class="basic-content">

  <%= render "shared/basic-header" %>

  <p class="order-title">キッチン発注リスト</p>

  
    <%= render "shared/order-content" %>

    <%= render "shared/footer" %>

</div>