<%= render "shared/header" %>

<% @equipments.each do |equipment| %>
  <ul>
    <li>
      <%= link_to root_path(equipment), class: 'edit-equipment' do %>
        <div class="equipment-name">
          <p>名前</p>
          <%= equipment.name %>
        </div>
        <%= equipment.count.name %>
        
      <% end %>
    </li>
  </ul>
<% end %>