
    <% @people_managements.each do |people_management| %>
      <ul class='item'>
        <li>
          <%= link_to edit_people_management_path(people_management), class: 'edit' do %>
          <div class="name">
            <p class="name-title">名前</p>
            <%= people_management.morning %>
          </div>
          <div class="count">
            <p class="count-title">数量</p>
            <%= people_management.waiter %>
          </div>
          <% end %>
        </li>
      </ul>
    <% end %>

