<%= render "shared/header" %>

<div class='main'>
  <div class='choose-service'>
    <h2 class='which-question'>
      どちらのサービスをご利用ですか？
    </h2>
  <div class=choises>
    <%= link_to 'ホール', "#", class: "hall-btn" %>
    <%= link_to 'キッチン', "#", class: "kitchen-btn" %>
  </div>