<ul class="item-list">
    <% @items.each do |item| %>
        <li class="item">
          <%= link_to edit_item_path(item), class:'item-edit' do %>
          <div class="name">
            <%= item.name %>
          </div>
          <div class="count">
            <%= item.count %>
          </div>
          <% end %>
        </li>
    <% end %>
      </ul>
    </div>