<%= render "shared/header" %>

フード発注リスト

<% @items.each do |item| %>
      <ul class='item'>
        <li>
          <%= link_to edit_item_path(item), class: 'edit' do %>
          <div class="name">
            <p class="name-title">名前</p>
            <%= item.name %>
          </div>
          <div class="count">
            <p class="count-title">数量</p>
            <%= item.count %>
          </div>
          <% end %>
        </li>
      </ul>
    <% end %>

