<%= render "shared/header" %>

  <div class='main'>
    <div class='main-menu'>
      <h2 class='menu-sentence'>
        キッチン　メインメニュー
      </h2>
    <%= link_to '新規登録',  new_kitchen_management_path, class: "register-new-btn" %>
    <div class=manage-choices>
      <%= link_to '追加', kitchen_managements_path, class: "add-existing-btn" %>
    </div>
</div>

    