@import "mixin/backimage";
@import "config/variables";

// index
.guest-index-wrapper{
  padding-top: $outer-padding;
  .guest-wrapper{
    background-color: aquamarine;
    height: $form-height;
    width: $form-width;
    margin: 0 auto;
    .guest-title{
      background-color: azure;
      height: $form-title-height;
      text-align: center;
      line-height: $basic-form-line-height;
      font-size: $form-title-fontsize;
    }
    .guest-list{
      @include space-evenly;
      flex-direction: column;
      .guest-to-edit{
        display: block;
        background-color: rgb(33, 33, 62);
        height: 60px;
        width: 580px;
        text-align: left;
        line-height: 60px;
        margin: 10px;
      }
      .guest-content-wrapper{
        position: relative;
        .guest-content{
          background-color: khaki;
          position: absolute;
        }
        .guest-name{
          top: 5px;
          left: 100px;

        }
        .guest-status{
          top: 5px;
          left: 250px;

        }
        .guest-number{
          top: 5px;
          left: 450px;

        }
      }
    }
  }
}



.guest-btn-pagenate-wrapper{
  background-color: cadetblue;
  width: $form-width;
  margin: 0 auto;
  text-align: center;
}
.guest-resister-btn{
  background-color: chartreuse;
  display: block;
  width: 200px;
  height: 60px;
  margin: $margin auto;
  line-height: 60px;
  text-align: center;
}


// form
.guest-form-wrapper{
  padding-top: $outer-padding; 
  .guest-form{
    background-color: aquamarine;
    @include form-sizing;
    .guest-form-title{
      height: $form-title-height;
    }
    .guest-form-title{
      line-height: $basic-form-line-height;
      font-size: $form-title-fontsize;
      text-align: center;
    }
    .guest-form-content{
      height: $basic-form-height;
      background-color: blanchedalmond;
      margin: 40px 0;
      @include make-center;

      .guest-form-name{
        width: 200px;
        height: 30px;
        margin-left: 50px;
      }
      .guest-form-status{
        width: 200px;
        height: 30px;
        margin-left: 70px;
      }
      .guest-form-number{
        width: 200px;
        height: 30px;
        margin-left: 25px;
      }
      .guest-form-information{
        width: 200px;
        height: 30px;
        margin-left: 55px;
      }
      .guest-register-btn{
        width: 200px;
        height: 30px;
      }

      .guest-delete-btn{
        width: 200px;
        height: 30px;
        background-color: aqua;
      }
    }
  }
}




.regularguest-function-backimage{
  @include backimage($regularguest-function-backimage);
  height: 100%;
}