* {
  box-sizing: border-box;
  font-size: 15px;
  color: $font-color;
}

body{
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
}

a:hover{
  opacity: 0.6;
}

.btn{
  background-color: $dark-blue;
  color: $white;
}

.btn:hover{
  opacity: 0.8;
}

.logo{
  font-family: 'Pacifico', cursive;
}

.title{
  text-align: center;
  padding-top: $outer;
  padding-bottom: 5px;
  width: 100%;
  color: $font-color;
  font-size: 1.3rem;
  margin-bottom: $outer-big;
  position:  relative;    /* 位置調整 */
  font-weight:  normal;   /* 文字の太さ調整 */
  margin-top: $outer;
  border-bottom: solid 4px $light-blue; 
  border-radius: 0px 0px 160px 180px/0px 0px 20px 4px;    /* 角丸指定 */
}

.card{
  // border: $font-color solid 1px;
}

.error-message{
  text-align: center;
}