* {
  box-sizing: border-box;
  font-size: 17px;
  color: $font-color;
}

html{
  height: 100vh;
}

body{
  // background-color: $background-color;
  // background-attachment: scroll;
  height: 100%;
}

a{
  text-decoration: none;
}

.btn{
  background-color: $light-blue;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 95px);
}
