* {
  box-sizing: border-box;
  font-size: 17px;
  color: $font-color;
}

a{
  text-decoration: none;
}

.btn{
  background-color: $dark-blue;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 95px);
}
