.basic-menu-list{
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ddd;
  .menu-sentence{
    margin-left: 20px;
  }
  .basic-menu-btn{
    display: block;
    border: 1px solid #ddd;
    margin-right: 20px;
    margin-top: 20px;
  }
}

.item{
  width: 800px;
  margin: 20px auto;
  border: 1px solid #ddd;
  .edit{
    display:block;
  }
  .name{
    display: flex;
    justify-content: center;
    .name-title{
      margin-right: 20px;
    }
  }
  .count{
    display: flex;
    justify-content: center;
    .count-title{
      margin-right: 20px;
    }
  }
}