.basic-menu-list{
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ddd;
  .menu-sentence{
    margin-left: 20px;
  }
  .basic-menu-btn{
    display:block;
    background-color: rebeccapurple;
    margin-right: 20px;
    margin-top: 20px;
  }
}

.food-item{
  width: 800px;
  margin: 20px auto;
  background-color: rosybrown;
  .edit-food{
    display:block;
    background-color: royalblue;
  }
  .food-name{
    display: flex;
    justify-content: space-around;
  }
}