.navbar{
  height: 70px;
  background-color: $dark-blue;
  border-radius: 0 0 5px 5px;
  .navbar-brand{
    width: 150px;
    height: 50px;
    padding: 0;
    margin-top: -10px;
    
    .subtitle{
      color: $white;
      font-size: 0.7rem;
    }
    .logo{
      font-size: 1.5rem;
      color: $white;
      margin-left: 24%;
      
    }
  }
  
  .nav-link{
    height: 40px;
    font-size: 0.85rem;
    min-width: 50px;
    color: $white;
    padding: 0;
    span{
      text-align: center;
      font-size: 0.85rem;
      color: $white;
    }
    .other-menu{
      color: $white;
    }
  }
  .weather{
    pointer-events: none;
  }
  .card{
    background-color: transparent;
    border: none;
  }
  .one-line{
    line-height: 38px;
  }
  .dropdown-menu{
    background-color: $light-blue;
    padding-top: 20px;
    height: 280px;
    .dropdown-item{
      font-size: 0.8rem;
    }
  }
  .dropdown-item:hover{
    background-color: $light-blue;
    opacity: 0.5;
  }
    
}

.dropdown-toggle::after{
  content: none;
}

@media (max-width: 767px){
  .navbar{
    .navbar-toggler{
      border-color: $white;
      .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }
    #navbarContent{
      background-color: $light-blue;
      position: relative;
      z-index: 1;
      .nav-link{
        display: block;
        margin: 0 !important;
        padding: 9px;
        color: #212529;
        span{
          color: #212529;
        }
      }
      .weather{
        padding-bottom: $outer-big !important;
      }
    }
  }
    
}

