.navbar{
  height: 70px;
  .navbar-brand{
    background-color: $dark-blue;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    
  }
  .nav-link{
    height: 70px;
    font-size: 0.84rem;
    min-width: 50px;
    span{
      display: block;
      text-align: center;
      font-size: 0.84rem;
    }
  }
  .weather{
    line-height: 40px;
  }
}

@media (max-width: 768px){
  .navbar{
    li{
      background-color: salmon;
    }
  }
}