@import "config/variables";

.login-container-inner{
  @include make-form;
  background-color: $dark-blue;
  height: 680px;
  border-radius: 15px;
  
  .app-title{
    text-align: center;
    color: $white;
    font-size: 1.1rem;
    margin-top: 5.5vh;
    margin-bottom: 0;
  }
  .lognin-logo{
    text-align: center;
    color: $white;
    font-size: 3rem;
  }
  h5{
    text-align: center;
    color: $white;
  }
  .card{
    margin-bottom: 5vh;
    background-color: $dark-blue;
    border-radius: 15px;
    border: none;
    .login{
      text-align: center;
      font-size: 1.5rem;
      color: $white;
      margin-top: $outer-big;

    }
    .alert{
      color: $light-yellow;
      text-align: center;
    }
    .login-label{
      display: block;
      text-align: center;
      color: $white;
      font-size: 0.8rem;
  }
    .form-control{
      margin: 0 auto;
      width: 50%;

    }
    .btn-block{
      margin: 0 auto;
      text-align: center;
      width: 30%;
      background-color: $light-blue;
      font-size: 1rem;
    }
    .to-signup{
      background-color: $light-blue;
      font-size: 0.8rem;
    }
  }
}

.login-register-btn{
  display: flex;
  margin: 4vh auto;
  .guest-login{
    background-color: $dark-yellow;
    margin-right: 3vw;
  }
}

.login-body{
  .login-container{
    height: calc(100% - 25px);
  }
}


@media (max-width: 767px){
  
}
