@import "config/variables";

.login-container-inner{
  @include make-form;
  width: 60vw;
  .app-title{
    text-align: center;
    // color: $white;
    font-size: 1.1rem;
    margin-top: 8vh;
  }
  .lognin-logo{
    text-align: center;
    // color: $white;
    font-size: 3rem;
    margin-top: 2vh;
  }
  h5{
    text-align: center;
    // color: $white;
  }
  .card{
    margin-top: 5vh;
    background-color: $dark-blue;
    .login{
      text-align: center;
      font-size: 1.5rem;
      // color: $white;
    }
    .alert{
      // color: $white;
      text-align: center;
    }
    .login-label{
      display: block;
      text-align: center;
      // color: $white;
  }
    .form-control{
      margin: 0 auto;
      width: 50%;

    }
    .btn-block{
      margin: 0 auto;
      text-align: center;
      width: 30%;
      background-color: $light-blue;
    }
    .to-signup{
      background-color: $light-blue;
    }
  }
}

.login-register-btn{
  display: flex;
  margin: 3vh auto;
  .guest-login{
    background-color: $dark-yellow;
    margin-right: 3vw;
  }
}

.login-body{
  // background-color: $dark-blue;
  // min-height:100vh;
  .login-container{
    height: calc(100% - 25px);
  }
}