<%= render "shared/header" %>

<% @foods.each do |food| %>
  <ul>
    <li>
      <%= link_to root_path(food), class: 'edit-food' do %>
        <div class="food-name">
          <p>名前</p>
          <%= food.name %>
        </div>
        <%= food.count.name %>
        
      <% end %>
    </li>
  </ul>
<% end %>