@mixin backimage($backimage){
  background-image: $backimage;
  // height: 100%;
  // background-size: cover;
  min-height:calc(100vh - 63px);
  background-attachment: fixed;
  background-position: center center;
  background-color:rgba(78, 76, 76, 0.8);
  background-blend-mode:lighten;
}


// @mixin backimage($backimage){
//   width: 100%;
//   height: 0;
//   background-image: $backimage;
//   background-repeat: no-repeat;
//   // background-position: center center;
//   background-size: cover;
// }