<%= render "shared/header" %>

<div class="main-page-backimage">
  <div class="basic-content">

    <%= render "shared/basic-header" %>

      <p>全アイテムリスト</p>

    <%= render "shared/basic-content" %>

  </div>
</div>
    <%= render "shared/footer" %>
