<%= render "shared/header" %>

<div class="container">

    <%= render "shared/basic-header" %>

      <h2>全アイテムリスト</h2>

      <%= render "shared/basic-content" %>
</div>

    <%= render "shared/footer" %>
    