@import "config/variables";
@import "mixin/flexbox";
@import "mixin/backimage";

// フォーム
.chat-form-title{
  height: $form-title-height;
  font-size: $form-title-fontsize;
  width: $form-width;
  margin: 0px auto;
  text-align: center;
  padding-top: 10px;
}
.chat-form{
  text-align: center;
  width: $form-width;
  margin: 0 auto;
  padding-bottom: 15px;
  border: 6px solid grey;
  position: relative;
  
  .from-form{
    height: 40px;
    line-height: 40px;
    @include make-center;
    margin-top: 15px;

    .message-from{
      width: 200px;
      margin-left: 20px;
      height: 25px;
    }
  }
  .name-form{
    height: 40px;
    line-height: 40px;
    @include make-center;
    .message-name-title{
      margin-left: 20px;
    }
    .message-name{
      width: 200px;
      height: 25px;
      margin-left: 50px;
      margin-top: 5px;
    }
  }
  .message-form{
    height: 80px;
    line-height: 40px;
    @include make-center;
    margin-top: 10px;
    .message-message{
      height: 60px;
      width: 250px;
      margin-left: 20px;
      border-style: none;
    }
  }
  .message-send-form{
    line-height: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    .message-send-btn{
      width: 100px;
      border-style: none;
      height: 40px;
      background-color: $dark-blue;
      color: white;
    }
  }
}

// 一覧
.chat-index-wrapper{
  text-align: center;
  width: $form-width;
  margin: 0 auto;
  height: 100px;
  .chats{
    overflow: scroll;
    overflow-wrap: break-word;
    height: 350px;
    width: 580px;
    margin-top: 10px;
    .from-name{
      display: flex;
      justify-content: flex-start;
      .from-index{
        margin-left: 10px;
      }
    }
    .message-index-wrapper{
      p{
        text-align: left;
        margin: 0px 40px 10px 0px;
        padding-left: 20px;
        height: auto;
        width: 100%;
      }
    }
  }
  
}

.chat-function-back-image{
  @include backimage($chat-function-back-image);
}

.chat-wrapper{
  padding-top: 25px;
  .chat-form-index-wrapper{
    background-color: $background-color;
    @include form-sizing;
    height: 645px;
  }
}
