@import "config/variables";
@import "mixin/flexbox";
@import "mixin/make-form";




.chat-container-inner{
  @include make-form;
  margin-top: 0;
  margin-bottom: $outer-big;

  // フォーム
  .chat-form{
    margin: $outer auto 0 auto;
    height: 210px;
    padding-bottom: 270px;
    padding-top: 0px;
    width: 55vw;
    position: relative;
    
    .from-name{
      display: flex;
      justify-content: flex-start;
      text-align: left;
      height: 70px;
      margin: 0 auto;
      .form-group{
        margin-right: 10px;
      }
      
      .name-form{
        height: 35px;
        width: 150%;
      }
      .from-form{
        min-width: 50px;
        width: 100px;
      }
    }
    .image-form{
      width: 300px;
    }
    label{
      margin-bottom: 3px;
      margin-top: 10px;
    }
    .image-title{
      margin-top: 0;
    }
    .form-control{
      border-radius: 20px;
      font-size: 0.9rem;
    }
    .btn{
      margin-left: 33vw;
      border-radius: 20px;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }


// 一覧
  .title{
    margin-bottom: 35px;
  }
  #chat-wrapper{
    padding: 25px;
    margin-top: $outer-big;

  }
    #chats{
      overflow: scroll;
      overflow-wrap: break-word;
      height: 350px;
      .from-name-wrapper{
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid $gray;
        height: 32px;
        width: 99%;
        padding-top: 5px;
        position: relative;
        .from-index{
          margin-right: $outer;
        }
        .name-index{
          margin-right: $outer;
        }
        .time-index{
          position: absolute;
          right: 5px;
        }
      }
      .message-index-wrapper{
        p{
          text-align: left;
          padding-left: 20px;
          height: auto;
          margin-top: 10px;
          margin-bottom: 3px;
        }
        .image{
          width: 200px;
          object-fit: contain;
          height: 200px;
          margin-top: 5px;
          margin-bottom: 10px;
        }
      }
    }

    .card{
      border: 1px solid $font-color;
    }

}



@media (max-width: 767px){

  .chat-container-inner{
    @include make-sm-form;
    // 一覧
    #chat-wrapper{
      margin: 0 auto $outer auto !important;
      width: 90% !important;
    }
    // フォーム
    .card-body{
      padding: 10px;
    }
    .chat-form{
      width: 90% !important;
      margin-bottom: $outer;
    }
    .from-name{
      width: 100% !important;
    }
    .form-group{
      margin-right: 10px !important;
      margin-top: $outer;
    }
    label{
      margin: 0 !important;
    }
    .name-form{
      width: 100% !important;
    }
    .image-form{
      width: 250px !important;
      font-size: 0.8rem ;
    }
    .message-title{
      margin-top: $outer !important;
    }
    .message-form{
      margin: 0 auto;
    }
  }
}