@import "config/variables";
@import "mixin/flexbox";
@import "mixin/make-form";

.chat-container-inner{
  @include make-form;
}

.chat-form-title{
  text-align: center;
}

// 一覧
  #chats{
    overflow: scroll;
    overflow-wrap: break-word;
    height: 380px;
    width: 580px;
    .from-name{
      display: flex;
      justify-content: flex-start;
    }
    .message-index-wrapper{
      p{
        text-align: left;
        padding-left: 20px;
        height: auto;
      }
    }
  }
  

// フォーム
.chat-form{
  border: 10px solid sandybrown;
  margin-top: $outer;
  height: 210px;
  .from-name{
    @include space-evenly;
  }
}