@import "config/variables";
@import "mixin/make-form";

.daily-handover-container-inner{
  @include make-form;
  margin-top: 0;
}


// 一覧画面
.handover-form-wrapper{
  overflow: scroll;
  overflow-wrap: break-word;
  max-height: 1300px;
  position: relative;
  margin-top: $outer-big;
  border: 1px solid $font-color;
  .handover-form-inner{
    margin: $outer;
  }

  .date-edit{
    display: flex;
    justify-content: flex-end;
    .handover-date{
      width: 100%;
      text-align: center;
    }
    .btn{
      position: absolute;
      top: 50px;
      right: 15px;
    }
  }
  label{
    margin-bottom: 5px;
    margin-top: $outer;
  }
}
.handover-btn-pagenate-wrapper{
  margin:  0 auto;
  text-align: center;
  .btn{
    margin-top: $outer-big;
    justify-content: center;
  }
  .pagination{
    display: flex;
    margin-top: $outer;
    justify-content: center;
    .btn{
      background-color: $dark-yellow;
      color: $font-color;
    }
    .current{
      display: block;
      height: 75px;
      width: 30px;
      line-height: 117px
    }
  }
}


@media (max-width: 767px){
  .daily-handover-container-inner{
    @include make-sm-form;
      .btn{
          margin-top: $outer;
        }
      .pagination{
        margin-top: 0;
      }
      .current{
        line-height: 70px !important; 
      }
    }
  }

  

// フォーム画面
.dailyhandover-form-container-inner{
  @include make-form;
  margin-bottom: $outer-big;
  margin-top: 0;
  .card{
    padding: $outer;
    border: 1px solid $font-color;
  }
  .input-group{
    margin-top: $outer-big;
    .form-control{
      width: 290px;
    }
  }
  .form-group{
    height: 120px;
  }
  label{
    margin-top: $outer-big;
  }
  .btn-wrapper{
    text-align: center;
  }
  .btn{
    margin-top: $outer-big;
    width: 30%;
    height: 50px;
  }
}


@media (max-width: 767px){
  .dailyhandover-form-container-inner{
    @include make-sm-form;
    width: 90%;
    .col{
      margin-top: $outer;
    }
  }
}