@import "config/variables";
@import "mixin/make-form";

.daily-handover-container-inner{
  @include make-form;
  margin-bottom: 10px;
}



.handover-title{
  text-align: center;
}
.handover-form-wrapper{
  overflow: scroll;
  overflow-wrap: break-word;
  height: 500px;

  .date-edit{
    display: flex;
    justify-content: flex-end;
    .handover-date{
      height: 50px;
      width: 150px;
      text-align: center;
    }
  }
  p{
      height: auto;
    }
}
.handover-btn-pagenate-wrapper{
  margin:  0 auto;
  text-align: center;
  .handover-resister-btn{
    display: block;
  }
  .pagination{
    display: block;
  }
}
// フッターかぶる