@import "config/variables";
@import "mixin/make-form";
@import "mixin/flexbox";



// 一覧
.item-index-container-inner{
  width: 70vw;
  margin: 0 auto;

  .title{
    margin-bottom: $outer-big;
  }
  .category-sort-form{
    text-align: right;
    margin-bottom: $outer;
  }
  .btn{
    background-color: $dark-yellow;
    color: $font-color;
    margin-bottom: 3px;
  }
  .card-columns{
    margin: 0 auto;
    .card{
      margin: 0 auto 20px auto;
      background-color: $dark-blue;
      text-align: center;
      text-decoration: none;
      border: none;
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.664);
      .card-body{
        height: 105px;
        padding-top: 25px;
        color: $white;
        font-size: 1.3rem;
      }
    }
    .basic-card:hover{
      opacity: 0.8;
    }
    li{
      display: inline;
    }
  }
}


// 編集フォーム
.item-container-inner{
  @include make-form;
  width: 90%;
  .title{
    margin-bottom: $outer-big;
  }
  .item-form{
    label{
      margin: 5px;
    }
    .top-wrapper{
      @include space-evenly;
      flex-flow: row-reverse;
      margin: $outer-big auto 0 auto;
      .label-title{
        margin-left: $outer;
        margin-top: $outer;
      }
      .item-name{
        width: 70%;
        margin: 0 auto;
      }
      .name-number{
        height: 380px;
        width: 40%;
        .form-group{
          margin-bottom: 0;
          padding: 0;
          .btn{
            color: $font-color;
            background-color: $light-blue;
            width: 20%;
          }
          .item-count{
            width: 40%;
            padding-right: 1px;
          }
        }
        .form-control{
          text-align: center;
          height: 40px;
          line-height: 30px;
        }
        .btn{
          width: 50%;
          margin: 0 auto $outer-big auto;
        }
      }
      
      .img-card{
        margin-right: $outer-big;
      }
      .image{
        width: 50%;
        height: 380px;
        .image-title{
          margin-bottom: $outer;
        }
        p{
          text-align: center;
          line-height: 220px;
        }
        img{
          width: 75%;
          height: 250px;
          object-fit: contain;
          margin-bottom: 20px;
          margin-left: 50px
      }
        .image-form{
          font-size: 0.8rem;
        }
      }
    }
    .bottom-wrapper{
      @include make-center;
      height: 200px;
      margin: $outer-big auto 0 auto;
      .form-control{
        width: 20vw;
      }
      .detail-title{
        margin-left: 60px;
      }
      .detail-form{
        height: 100px;
        margin-left: 50px;
        width: 300px;
      }
    }
    .link-list{
      text-align: center;
      margin-top: $outer;
      @include space-evenly;
      .register-btn{
        width: 30%;
      }
    }
    .other-btn{
      background-color: $dark-yellow;
      color: $font-color;
    }
  }
}


@media (max-width: 767px){
  .item-container-inner{
    @include make-sm-form;
    .top-wrapper{
      display: block !important;
    }
    .card{
      width: 80% !important;
      margin: 0 auto $outer auto !important;
    }
    img{
      width: 100% !important;
      height: 235px !important;
      margin-left: 0 !important;
    }
    .bottom-wrapper{
      display: block !important;
      width: 60vw;
      .detail{
        margin: 0 !important;
        height: 150px !important;
        label{
          margin-left: 5px !important;
        }
        .detail-form{
          margin: 0 !important;
        }
      }
      .form-control{
        width: 100% !important;
      }
    }
    .link-list{
      margin-top: 150px !important;
    }
    .btn{
      margin-bottom: $outer !important;
    }
  }
}


// 詳細ページ
.item-show-container-inner{
  @include make-form;
  text-align: center;
  height: auto;
.title{
    margin-bottom: $outer-big;
  }
  .basic-table{
    margin: 0 auto;
    width: 100%;
  }
  .detail-item {
    background-color: #eee;
    border: 1px solid #dedede;
    font-size: 1rem;
    text-align: center;
    width: 15vw;
    min-height: 21px;
  }
  .detail-value {
    padding: 20px;
    border: 1px solid #dedede;
    font-size: 1rem;
    min-height: 21px;
    width: 45vw;
  }
  .image-title{
    line-height: 400px;
  }
  img{
    width: 40vw;
    height: 60vh;
    object-fit: contain;
  }
  .btns{
    margin-top: $outer-big;
    .to-edit{
      margin-right: 100px;
    }
  }
}

@media (max-width: 767px){
  .item-show-container-inner{
    @include make-sm-form;
    tr{
      display: flex;
    }
    .detail-item{
      display: block;
      width: 20vw;
      padding: 20px;
    }
    .detail-value{
      width: 45vw;
      display: block;
      padding: 20px
    }
    .detail-image{
      height: 40vh;
    }
  }
}



// 新規登録フォーム
.item-new-container-inner{
  @include make-form;
  margin-bottom: $outer-big;
  width: 60%;
  .title{
    margin-bottom: $outer-big;
  }
  label{
    height: 22px;
    margin-bottom: 0;
  }
  .small{
    height: 30px;
    line-height: 18px;
  }
  .btn-wrapper{
    justify-content: space-between;
    .item-count{
      width: 52%;
      text-align: center;

    }
    .btn{
      width: 23%;
      background-color: $light-blue;
      color: $font-color;
    }
  }
  .field_with_errors{
    .item-count{
      width: 100%;
      text-align: center;
    }
  }
  img{
    width: 55%;
    margin-bottom: $outer;
  }
  .detail{
    height: 100px;
  }
  .image-form{
    height: 100px;
    margin-bottom: 0;
    .form-image{
      font-size: 0.9rem;
    }
  }
  #image-list{
    text-align: center;
    margin-bottom: $outer;
  }
  .btn-wrapper-bottom{
    text-align: center;
    .btn{
      width: 65%;
    }
  }

  @media (max-width: 767px){
    img{
      width: 100% !important;
      height: 10% !important;
    }
    .form-image{
      font-size: 0.7rem !important;
    }
  }
}




.item-count{
  font-size: 1.2rem;
}

.btn-wrapper{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}


.form-row{
  display: flex;
}