@import "config/variables";
@import "mixin/backimage";
@import "mixin/form";
@import "mixin/flexbox";


// 新規登録フォーム
.item-registration{
  background-color: $background-color;
  @include form-sizing;
  margin-top: 15px;
  height: 600px;
  text-align: center;
  .item-form{
    @include form-sizing;
    .item-form-title{
      height: $form-title-height;
      line-height: 70px;
      font-size: $form-title-fontsize;
    }
    .form{
      @include space-evenly;
      margin: 20px auto 20px auto;
      display: flex;
      .title{
        width: 100px;
        height: 50px;
      }
      .form-inner{
        height: 50px;
        width: 300px;
        .item{
          border-style: none;
          border-radius: $border-radius;
        }

        .item-name{
          width: 150px;
          height: 30px;
          text-align: right;

        }
        .item-count{
          width: 50px;
          text-align: right;
          height: 30px;
        }
        .item-category{
          width: 50px;
          height: 30px;
        }
        .item-place{
          width: 50px;
          height: 30px;
        }
        .item-detail{
          width: 300px;
          height: 100px;
        }
      }
    }
    .register-btn{
      background-color: $dark-blue;
      border-style: none;
      border-radius: $border-radius;
      width: 150px;
      height: 50px;
    }
    .edit-btn{
      background-color: $dark-blue;
      border-style: none;
      border-radius: $border-radius;
      width: 150px;
      height: 50px;
      margin: -20px;
    }
  }
}

.link-list{
  @include space-evenly;
  margin-top: 40px;
  .to-show{
    display: block;
    width: 200px;
    height: 30px;
    background-color: $light-blue;
    border-radius: $border-radius;
  }
  .to-destroy{
    display: block;
    width: 200px;
    height: 30px;
    border-radius: $border-radius;
    background-color: $light-blue;
  }
}



.basic-registration-backimage{
  @include backimage($basic-registration-backimage);
  height: calc(100% - 123px);

}