
.order-title{
  margin-bottom: 10px;
}
.order-list{
  display: flex;
  flex-flow: column;
  .order-item{
    background-color: black;
    margin: 10px 40px;
    border-radius: 10px;
    text-align: center;
    height: 60px;
    @include make-center;
  }
}

.kitchenorder-function-backimage{
  @include backimage($kitchenorder-function-backimage);
}