@import "config/variables";
@import "mixin/flexbox";
@import "mixin/backimage";

.other-menu-outer{
  padding: $outer-padding;
  .other-function-menu{
    @include space-evenly;
    @include background-color;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    a{
      display: block;
      text-align: center;
      line-height: 100px;
    }
    .other-menu-left{
      @include space-evenly;
      flex-flow: column;
    }
    .other-menu-right{
      @include space-evenly;
      flex-flow: column;
    }
    .other-menu{
      margin: 10px;
      height: 100px;
      width: 200px;
      background-color: $light-blue;
      border-radius: 10px;
      color: $gray-font;
      font-weight: bold;
      // font-size: 1.3rem;

    }
  }
}



.other-function-backimage{
  @include backimage($other-function-backimage);
}