@import "config/variables";
@import "mixin/flexbox";
@import "mixin/make-form";


.number-container-inner{
  margin-bottom: $outer-big;
  .title{
    margin-bottom: 50px;
  }
  .number-form{
    margin: 0 auto;
    width: $form-width;
    .title-form-wrapper{
      display: flex;
      justify-content: space-around;
      width: 300px;
      margin: 0 auto;
      margin-top: 10px;
      p{
        width: 70px;
        height: 60px;
        margin-top: 10px;
        margin-right: 5px;
        text-align: center;
      }
      .morning-title{
        margin-right: 10px;
      }
      .form{
        text-align: right;
        width: 80px;
        height: 60px;
        border: $font-color 1px solid;
        
      }
    }
    .number-btn{
      margin-top: 50px;
      text-align: center;
      .number-register-btn{
        width: 150px;
        height: 50px;
        background-color: $light-blue;
        border-radius: $border-radius;
        border: none;
      }
    }
  }
}




// .people-management-form-wrapper{
//   width: 30vw;
//   margin: $outer-big auto;
//   h2{
//     padding-bottom: $outer;
//   }
//   .form-control{
//     text-align: right;
//   }
//   .btn{
//     background-color: $dark-blue;
//   }
// }