@import "config/variables";

.people-management-form-wrapper{
  width: 30vw;
  margin: $outer-big auto;
  h2{
    padding-bottom: $outer;
  }
  .form-control{
    text-align: right;
  }
  .btn{
    background-color: $dark-blue;
  }
}