@import "config/variables";
@import "mixin/make-form";

.usage-of-app-container-inner{
  @include make-form;
  .card{
    margin: 0 auto;
    
  }
  .card-body{
    padding: $outer-big;
  }
  h5{
    padding-left: $outer;
    border-bottom: $dark-yellow solid 3px;
  }
  ul{
    padding-left: 30px;
    list-style-type: disc;
    li{
      line-height: 30px;
    }
  }
  .usage{
    line-height: 30px;
    margin-top: 15px;
  }
  .function-list{
    padding-left: $outer;
  }
  ol{
    padding-left: 30px;
    list-style-type: decimal;
    .card{
      margin: 10px 40px 10px -10px;
      
    }
    .card-body{
      text-align: center;
      padding: 20px;
    }
  }
  .btn-wrapper{
    text-align: center;
    margin-top: $outer-big;
  }
}

@media (max-width: 767px){
  .usage-of-app-container-inner{
    @include make-sm-form;
    .card-body{
      padding: $outer;
    }
}}