@import "config/variables";
@import "mixin/make-form";

.usage-of-app-container-inner{
  @include make-form;
  .card{
    margin: 0 auto;
  }
  .card-body{
    padding: $outer-big;
  }
  h5{
    padding-left: $outer;
    border-bottom: $dark-yellow solid 3px;
  }
  ul{
    padding-left: $outer-big;
    list-style-type: disc;
  }
  .function-list{
    padding-left: $outer;
  }
  ol{
    padding-left: $outer-big;
    list-style-type: decimal;
  }
}

@media (max-width: 767px){
  .usage-of-app-container-inner{
    width: 100%;
}}